.head {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
background-color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 4rem;
  width: 20rem;
}

img {
    width: 14rem;
  border-radius: 6rem;
}

body {
    background-color: #7eb5fb;
}

.card h1 {
    margin: 1rem;
    font-size: 2rem;
  }

  .links a {
    text-decoration: none;
    color: rgb(54, 91, 141);
    margin: 1rem;
    opacity: 75%;
    transition: all 0.3s ease-in-out;
  }